@model IEnumerable<ParavastuWeek5.Models.Representative>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RepFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepSalary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RepFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepSalary)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RepId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RepId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RepId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
